@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
:active,
:focus {
  outline: 0
}
a:active,
a:focus {
  outline: 0
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Inter,sans-serif;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
._container {
  padding: 0 16px
}
.header__top {
  position: relative;
  z-index: 3;
  padding: 16px 0;
  border-bottom: 1px solid #2b383d
}
.header__top-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px
}
.header__button-menu {
  display: flex;
  align-items: center;
  gap: 8px
}
.header__button-menu svg {
  width: 32px;
  height: 32px;
  fill: #fff
}
.header__button-menu span {
  display: none
}
.header__logo {
  height: 24px
}
.header__logo img {
  height: 100%
}
.header__city {
  display: none
}
.header__city-button {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer
}
.header__city-button:active span {
  color: #ffdf66
}
.header__city-button svg {
  width: 16px;
  height: 16px;
  fill: #fff
}
.header__city-button span {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: #fcd130;
  transition: all .5s ease
}
.header__city-button span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background-color: #fcd130
}
.header__city-body {
  display: none
}
.header__mail {
  display: none
}
.header__mail:active svg {
  fill: #ffdf66
}
.header__mail:active span {
  color: #ffdf66
}
.header__mail svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  transition: all .5s ease
}
.header__mail span {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  transition: all .5s ease
}
.header__socials {
  display: none
}
.header__social {
  width: 16px;
  height: 16px
}
.header__social:active svg {
  fill: #ffdf66;
  stroke: #ffdf66
}
.header__social svg {
  height: 100%;
  width: 100%;
  fill: #fff;
  stroke: #fff;
  transition: all .5s ease
}
.header__phones {
  display: none
}
.header__phone {
  display: flex;
  align-items: center;
  gap: 4px
}
.header__phone-icon {
  width: 16px;
  height: 16px;
  fill: #fff;
  transition: all .5s ease
}
.header__phone-link {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  transition: all .5s ease
}
.header__phone-button {
  position: relative;
  width: 8px;
  height: 8px;
  cursor: pointer
}
.header__phone-button::after,
.header__phone-button::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 5px;
  background-color: #fff;
  transition: all .5s ease
}
.header__phone-button::before {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}
.header__phone-button::after {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg)
}
.header__phones-body {
  display: none
}
.header__languages {
  display: none
}
.header__languages-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 12px;
  cursor: pointer
}
.header__languages-button::after,
.header__languages-button::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 5px;
  background-color: #fff;
  transition: all .5s ease
}
.header__languages-button::before {
  right: 4px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}
.header__languages-button::after {
  right: 1px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg)
}
.header__languages-button img {
  width: 16px;
  height: 16px
}
.header__languages-button span {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  transition: all .5s ease
}
.header__languages-body {
  display: none
}
.header__bottom {
  position: relative;
  z-index: 3;
  padding: 12px 0
}
.header {
  position: relative;
  background: url(../img/main-bg.webp) center/100% auto no-repeat
}
.header::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#030405 0,rgba(6,11,14,.8) 71%,rgba(21,35,45,.4) 100%);
  opacity: .8
}
@media (min-width:47.99875em) {
  ._container {
    padding: 0 24px
  }
  .header__top {
    padding: 10px 0
  }
  .header__button-menu svg {
    width: 20px;
    height: 20px
  }
  .header__button-menu span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #fff
  }
  .header__logo {
    height: 22px
  }
  .header__city {
    display: block
  }
  .header__socials {
    display: flex;
    gap: 16px
  }
  .header__phones {
    display: block
  }
  .header__languages {
    display: block
  }
  .header__bottom {
    padding: 16px 0
  }
}
@media (min-width:61.99875em) {
  ._container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0
  }
  .header__city-button:hover span {
    color: #ffdf66
  }
  .header__mail {
    display: flex;
    align-items: center;
    gap: 4px
  }
  .header__mail:hover svg {
    fill: #fcd130
  }
  .header__mail:hover span {
    color: #fcd130
  }
  .header__social:hover svg {
    fill: #fcd130;
    stroke: #fcd130
  }
  .header__phone:hover .header__phone-icon {
    fill: #fcd130
  }
  .header__phone:hover .header__phone-link {
    color: #fcd130
  }
  .header__phone:hover .header__phone-button::after,
  .header__phone:hover .header__phone-button::before {
    background-color: #fcd130
  }
  .header__languages-button:hover::after,
  .header__languages-button:hover::before {
    background-color: #fcd130
  }
  .header__languages-button:hover span {
    color: #fcd130
  }
}
@media (min-width:79.99875em) {
  ._container {
    max-width: 1240px
  }
  .header__top {
    padding: 12px 0
  }
  .header__button-menu {
    display: none
  }
  .header__logo {
    height: 30px
  }
  .header__city-button {
    gap: 8px
  }
  .header__city-button svg {
    width: 20px;
    height: 20px
  }
  .header__city-button span {
    font-size: 14px;
    line-height: 18px
  }
  .header__mail {
    gap: 8px
  }
  .header__mail svg {
    width: 20px;
    height: 20px
  }
  .header__mail span {
    font-size: 14px;
    line-height: 18px
  }
  .header__socials {
    gap: 24px
  }
  .header__social {
    width: 20px;
    height: 20px
  }
  .header__phone {
    gap: 8px
  }
  .header__phone-icon {
    width: 20px;
    height: 20px
  }
  .header__phone-link {
    font-size: 14px;
    line-height: 18px
  }
  .header__phone-button {
    width: 12px;
    height: 12px
  }
  .header__phone-button::after,
  .header__phone-button::before {
    width: 7px
  }
  .header__languages-button {
    padding-right: 16px
  }
  .header__languages-button::after,
  .header__languages-button::before {
    width: 7px
  }
  .header__languages-button::before {
    right: 6px
  }
  .header__languages-button img {
    width: 20px;
    height: 20px
  }
  .header__languages-button span {
    font-size: 14px;
    line-height: 18px
  }
}
@media (min-width:84.99875em) {
  ._container {
    max-width: 1320px
  }
}
@media (min-width:360px) {
  .header__logo {
    height: 26px
  }
}